/* --Header-- */

.rtl .wdt-custom-bg-col .elementor-widget-wrap:after {
    right: 0;
    left: -100vmax;
}

.rtl .wdt-button-holder.wdt-button-icon-after .wdt-button .wdt-button-icon {
    margin-right: 8px;
    margin-left: 0;
}

.rtl .wdt-header-menu ul li ul.children,
.rtl .wdt-header-menu ul li ul.sub-menu,
.rtl .wdt-header-menu ul li.has-mega-menu>ul {
    right: 12px;
    left: auto;
    text-align: right;
}

.rtl .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-1>ul {
    right: 100%;
    left: auto;
}

.rtl .wdt-search-form-container .wdt-search-form-close {
    right: auto;
    left: 35px;
}

.rtl #searchform input[type="text"] {
    padding: 32px 32px 32px 80px;
}

.rtl #searchform input[type="submit"] {
    left: 0;
    right: auto;
}

.rtl #searchform ul.quick_search_results li.quick_search_data_item a {
    text-align: right;
}

.rtl #searchform ul.quick_search_results.active:before {
    right: 20px;
    left: auto;
}

/* --Home 1-- */

.rtl .wdt-custom-slider-1-scroll .wdt-button-holder.wdt-template-textual .wdt-button .wdt-button-text span {
    flex-direction: row-reverse;
}

.rtl .wdt-custom-banner-hd .wdt-content-item .wdt-content-button>a .wdt-button-text span:after {
    margin-right: 8px;
    margin-left: 0;
}

.rtl .wdt-custom-slider-1-iconlist .elementor-widget-container>ul.elementor-icon-list-items li.elementor-icon-list-item {
    margin: 15px;
}

.rtl .wdt-custom-imagebox-1-a .wdt-image-box-holder .wdt-content-item .wdt-content-detail-group .wdt-content-title h5 a:after {
    margin-right: 10px;
    margin-left: 0;
}

.rtl .wdt-custom-home-1-service-list-a .wdt-image-box-holder .wdt-content-item .wdt-content-elements-group,
.rtl .wdt-custom-home-1-service-list-b .wdt-image-box-holder .wdt-content-item .wdt-content-elements-group {
    text-align: right;
}

.rtl .wdt-custom-home-1-service-list-a .wdt-image-box-holder .wdt-content-item .wdt-content-button>a,
.rtl .wdt-custom-home-1-service-list-b .wdt-image-box-holder .wdt-content-item .wdt-content-button>a {
    padding-right: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    padding-left: 0;
}

.rtl .wdt-custom-home-1-service-list-a .wdt-image-box-holder .wdt-content-item .wdt-content-button>a:before,
.rtl .wdt-custom-home-1-service-list-b .wdt-image-box-holder .wdt-content-item .wdt-content-button>a:before {
    margin-left: 10px;
    margin-right: 0;
}

.rtl .wdt-custom-home-1-service-list-a .wdt-image-box-holder .wdt-content-item .wdt-content-button>a:after,
.rtl .wdt-custom-home-1-service-list-b .wdt-image-box-holder .wdt-content-item .wdt-content-button>a:after {
    right: 0;
    left: auto;
    margin-left: 10px;
    margin-right: 0;
}

.rtl .wdt-custom-timeline-tabs .wdt-tabs-container[class*='-layout-horizontal'][class*='-template-bordered'] .wdt-tabs-list li:not(:last-child) {
    margin: 0 0 0 200px;
}

@media only screen and (max-width: 1280px) {
    .rtl .wdt-custom-timeline-tabs .wdt-tabs-container[class*='-layout-horizontal'][class*='-template-bordered'] .wdt-tabs-list li:not(:last-child) {
        margin: 0 0 0 100px;
    }
}

.rtl .custom-counter-1 .wdt-column-wrapper .wdt-column:not(:last-child) .wdt-content-item::after {
    border-left: 1px solid var(--wdtAccentTxtColor);
    border-right: 0;
}

.rtl .tpl-blog-holder .wdt-classic-style.wdt-post-entry .blog-entry {
    text-align: right;
}

.rtl .tpl-blog-holder .wdt-classic-style.wdt-post-entry.alignleft .blog-entry .entry-title {
    padding-left: 20px;
    padding-right: 0;
}

.rtl .wdt-custom-testimonial-a .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination>div:first-child {
    margin-left: 8px;
    margin-right: 0;
}

.rtl .wdt-custom-testimonial-a .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination>div:last-child {
    margin-right: 8px;
    margin-left: 0;
}

.rtl .wdt-custom-interactive-showcase .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li .wdt-content-title:before {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .wdt-custom-interactive-showcase .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li.wdt-interactive-showcase-active .wdt-content-title {
    padding-right: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    padding-left: 0;
}

.rtl .wdt-custom-interactive-showcase .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li .wdt-content-title:after {
    left: auto;
    right: 0;
    margin-left: 10px;
    margin-right: 0;
}

.rtl.wdt-custom-hotspot-iconbx ul.elementor-icon-list-items li.elementor-icon-list-item:not(:last-child) {
    margin-left: 30px;
    margin-right: 0;
}

.rtl .wdt-custom-hotspot-iconbx ul.elementor-icon-list-items li.elementor-icon-list-item:not(:last-child) .elementor-icon-list-text:after {
    left: -20px;
    right: auto;
}

.rtl .wdt-custom-footer-mailchimp .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder+div input[type="checkbox"] {
    margin: 0 0 0 10px;
}

.rtl .wdt-custom-footer-mailchimp .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder+div {
    text-align: right;
}

.rtl .wdt-custom-footer-mailchimp .wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-text input {
    padding-left: 10em;
    padding-right: 20px;
}

.rtl .wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder {
    left: 0;
    right: auto;
}

.rtl .wdt-custom-hotspot-iconbx ul.elementor-icon-list-items li.elementor-icon-list-item:not(:last-child) {
    margin-left: 30px;
    margin-right: 0;
}

.rtl .wdt-custom-about-image-box .wdt-image-box-holder .wdt-content-item .wdt-content-detail-group .wdt-content-elements-group.wdt-content-group .wdt-content-button>a .wdt-button-text::after {
    margin: auto 5px auto auto;
}

.rtl #back-to-top {
    left: 20px;
    right: auto;
}

.rtl .wdt-custom-btn a.wdt-button:hover .wdt-button-icon span i svg {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rtl .wdt-custom-btn a.wdt-button .wdt-button-icon span i svg {
    rotate: 180deg;
}

.rtl .wdt-custom-banner-hd .wdt-content-item .wdt-content-button>a .wdt-button-text span:after {
    rotate: 180deg;
}

.rtl .wdt-custom-banner-hd .wdt-content-item .wdt-content-button>a:hover .wdt-button-text span:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rtl .wdt-custom-grid-banner-a .wdt-image-box-holder .swiper-slide .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon {
    transform: rotateY(180deg);
}

.rtl .wdt-classic-style.wdt-post-entry .blog-entry div.entry-button {
    transform: rotateY(180deg);
}

.rtl .wdt-custom-grid-banner-a .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination>div {
    flex-direction: row;
}

.rtl .wdt-custom-testimonial-a .wdt-testimonial-holder .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper {
    right: auto;
    left: -50px;
}

.rtl .wdt-custom-hotspot-map .wdt-hotspot-holder .tippy-box .tippy-content {
    padding-left: 40px;
    padding-right: 10px;
}

.rtl .wdt-custom-hotspot-map .tippy-box .tippy-content .wdt-hotspot-image {
    margin-left: 20px;
    margin-right: 0;
}

.rtl .wdt-custom-timeline-tabs .wdt-tabs-container .wdt-tabs-list-wrapper ul.wdt-tabs-list li a .wdt-content-sub-title {
    right: 4px;
}

.rtl .elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text {
    padding-right: 5px;
    padding-left: 0;
}

.rtl .wdt-custom-testimonial-a .wdt-carousel-holder .swiper.swiper-horizontal+.wdt-carousel-pagination-wrapper .wdt-swiper-pagination .swiper-pagination-current::after {
    margin: auto 15px auto 5px;
}

/* --Home 2-- */


.rtl .custom-testimonial-001 .wdt-content-item .wdt-content-media-group {
    margin-left: 20px;
    margin-right: 0;
}

.rtl .wdt-thumb-carousel-holder .wdt-thumb-pagination-group>div.wdt-thumbnail-title .wdt-thumb-slider-content p {
    text-align: right;
}

.rtl .custom-tab-005 .wdt-tabs-container .wdt-tabs-list li.ui-tabs-active a.ui-tabs-anchor .wdt-content-title,
.custom-tab-005 .wdt-tabs-container .wdt-tabs-list li a.ui-tabs-anchor .wdt-content-title {
    padding-right: 10px;
    padding-left: 0;
}

.rtl .wdt-tabs-container .wdt-tabs-list li:not(:last-child) {
    margin: 0 0 0 10px;
}

.rtl .wdt-custom-about-image-box .wdt-image-box-holder .wdt-content-item .wdt-content-detail-group .wdt-content-elements-group.wdt-content-group .wdt-content-button>a .wdt-button-text::after {
    rotate: 180deg;
}

.rtl .wdt-custom-about-image-box .wdt-image-box-holder .wdt-content-item .wdt-content-detail-group .wdt-content-elements-group.wdt-content-group .wdt-content-button>a:hover .wdt-button-text::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rtl .wdt-custom-portfolio .wdt-listings-item-wrapper.type1 .wdt-listings-item-top-section .wdt-listings-item-top-section-content {
    left: 0;
    right: 25px;
}

.wdt-custom-portfolio .wdt-listings-item-wrapper.type1 a.custom-button-style {
    left: 0;
    right: auto;
    transform: translateY(-50%) translateX(-100%);
}

.rtl .home-iii-Contact-Frm .col-1 .contact-info .contact-info-col-1 input[type="text"],
.rtl .home-iii-Contact-Frm .col-1 .contact-info .contact-info-col-2 input[type="tel"],
.rtl .home-iii-Contact-Frm .col-1 .contact-info .contact-info-col-1 input[type="number"],
.rtl .home-iii-Contact-Frm .col-1 .contact-info .contact-info-col-2 input[type="email"],
.rtl .home-iii-Contact-Frm .col-2 .shipment-data .shipment-data-col-1 input[type="text"],
.rtl .home-iii-Contact-Frm .col-2 .shipment-data .shipment-data-col-2 input[type="text"] {
    text-align: right;
}

.rtl .home-iii-Contact-Frm .radio-btn p .wpcf7-list-item-label {
    flex-direction: row-reverse;
}

.rtl .home-iii-Contact-Frm .radio-btn p .wpcf7-list-item input[type="radio"]~span:before {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .home-iii-Contact-Frm .radio-btn p .wpcf7-list-item input[type="radio"]~span:after {
    right: 4px;
    left: auto;
}

.rtl .wpcf7-not-valid-tip {
    left: 0;
    right: auto;
}

.rtl .home-iii-Contact-Frm .col-2 .shipment-data .shipment-data-col-1 p .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered,
.rtl .home-iii-Contact-Frm .col-2 .shipment-data .shipment-data-col-2 p .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: right;
}

.rtl .select2-container--default .select2-selection--single .select2-selection__arrow,
.rtl .select2-container--default .select2-selection--multiple .select2-selection__arrow {
    left: 15px !important;
    right: auto !important;
}

.rtl .select2-container--default .select2-results>.select2-results__options .select2-results__option {
    text-align: right;
}

.rtl .home-iii-Contact-Frm h6 {
    text-align: right;
}

.rtl .wdt-thumb-carousel-holder .wdt-thumb-pagination-group {
    left: 0;
    right: auto;
}

.rtl .wdt-thumb-carousel-holder .wdt-thumb-slider-container .wdt-thumb-slider-info .wdt-thumb-slider-icon-wrapper {
    right: -20px;
    left: auto;
    -webkit-transform: scaleX(1) rotate(30deg);
    transform: scaleX(1) rotate(30deg);
}

.rtl .wdt-thumb-carousel-holder .wdt-thumb-slider-container .wdt-thumb-slider-info {
    margin: auto auto auto 0;
}

.rtl .wdt-thumb-carousel-holder .wdt-thumb-slider-container .wdt-thumb-slider-info .wdt-thumb-slider-title>h5 {
    text-align: right;
}

.rtl .wdt-thumb-carousel-holder .swiper-wrapper .swiper-slide .wdt-thumb-slider-container .wdt-thumb-slider-info .wdt-thumb-slider-button a .wdt-thumb-slider-button-text:after {
    margin-right: 8px;
    margin-left: 0;
    rotate: 180deg;
}

.rtl .wdt-thumb-carousel-holder .swiper-wrapper .swiper-slide .wdt-thumb-slider-container .wdt-thumb-slider-info .wdt-thumb-slider-button a:hover .wdt-thumb-slider-button-text:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rtl .elementor-563 .elementor-element.elementor-element-ebbd5c2 .elementor-icon-list-text {
    text-align: right;
}

/* --Home 3-- */

.rtl .custom-play-btn-005 .wdt-popup-box-trigger-holder.wdt-click-element-label-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label {
    margin-right: 15px;
    margin-left: 0;
}

.rtl .custom-counter-005 .wdt-column:not(:last-child) .wdt-content-item:after {
    left: -30px;
    right: auto;
}

.rtl .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix'] {
    margin: 0 0 0 10px;
    padding: 0 0 0 5px;
}

.rtl .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix']:not(.icon):before {
    right: auto;
    left: 0;
}

.rtl .wdt-pricing-table-holder div[class*='-table-features'] .wdt-pricing-table-features-list li .wdt-pricing-table-features-list-text:not(:only-child) {
    padding-right: 10px;
    padding-left: 0;
}

.rtl .wdt-cus-form-aside-testimonial .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper {
    margin-left: 20px;
    margin-right: 0;
}

.rtl .wdt-custom-ani-txt .wdt-animation-item.text-item a:after {
    right: 25px;
    left: auto;
}

.rtl .wdt-custom-pricing-plan .wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button>a:after {
    margin-right: 8px;
    margin-left: 0;
}

.rtl .wdt-custom-main-home-interactive .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li .wdt-interactive-showcase-media-group {
    margin-left: 15px;
    margin-right: 0;
}

.rtl .home-ii-cntfrm .wpcf7-form-control-wrap input,
.rtl .home-ii-cntfrm .col .col-ii .wpcf7-form-control-wrap textarea,
.rtl .home-ii-cntfrm .col-iii .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered,
.rtl .home-ii-cntfrm .col .col-ii .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: right;
}

.rtl .wdt-cus-form-aside-testimonial .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination .wdt-arrow-pagination-prev {
    margin-left: 8px;
    margin-right: 0;
}

.rtl .wdt-cus-form-aside-testimonial .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination .wdt-arrow-pagination-next {
    margin-right: 8px;
    margin-left: 0;
}

.rtl .wdt-custom-pricing-plan .wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button>a:after {
    rotate: 180deg;
}

.rtl .wdt-custom-pricing-plan .wdt-pricing-table-holder div[class*='-table-footer'] .wdt-content-button>a:hover:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rtl .wdt-custom-main-home-interactive .wdt-interactive-showcase-container .wdt-interactive-showcase-list-wrapper ul.wdt-interactive-showcase-list li:not(:last-child) {
    border-left: 1px solid var(--wdtAccentTxtColor);
    border-right: 0;
}

.rtl .wdt-pricing-table-holder div[class*='-table-badge'].type4.left {
    left: auto;
    right: 0;
}

.rtl .wdt-pricing-table-holder div[class*='-table-badge'].type4 .wdt-pricing-table-badge-inner {
    -webkit-transform: translateY(-50%) translateX(50%) translateX(-35px) rotate(45deg);
    transform: translateY(-50%) translateX(50%) translateX(-35px) rotate(45deg);
}

.rtl .wdt-content-item .wdt-content-counter>*:not(:last-child) {
    margin-left: 2px;
    margin-right: 0;
}

/* --About-- */

.rtl .wdt-tabs-container[class*='-layout-horizontal'] .wdt-tabs-list {
    justify-content: start;
}

/* --Faq-- */

.rtl .faq-detail-frm input,
.rtl .faq-detail-frm textarea {
    text-align: right;
}

.rtl .faq-detail-frm p input[type="submit"] {
    text-align: center;
}

.rtl .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon>div {
    transform: rotateY(180deg);
}

/* --Service-- */

.rtl .service-detail-frm input,
.rtl .service-detail-frm textarea {
    text-align: right;
}

.rtl .service-detail-frm input[type="submit"] {
    text-align: center;
}

/* --Projects-- */

.rtl .wdt-custom-portfolio-det-iconbx .elementor-icon-box-wrapper .elementor-icon-box-icon {
    margin-left: 50px;
    margin-right: 0;
}


/* --Blog-- */

.rtl .widget #searchform input[type="submit"] {
    margin: auto;
}

.rtl .widget .recent-posts-widget li .thumb {
    margin: 0 0 0 25px;
}

.rtl .widget_tag_cloud .tagcloud a,
.rtl .widget .tagcloud a {
    float: right;
    margin: 0 0 12px 12px;
}

.rtl .pagination ul li a.next {
    transform: rotateY(180deg);
}

.rtl .blog-single-entry.post-minimal .entry-post-navigation>.post-next-link {
    text-align: left;
}

.rtl .blog-single-entry.post-minimal .entry-post-navigation>.post-prev-link {
    text-align: right;
}

.rtl .blog-single-entry.post-minimal .entry-post-navigation>.post-prev-link>.nav-title-wrap p a:after {
    right: 40%;
}

.rtl .commentlist li.comment .reply {
    left: 0;
    right: auto;
}

.rtl .comment-author .avatar {
    left: 0;
    right: -80px;
}

.rtl .comment-body {
    padding-left: 0;
    padding-right: 80px;
}

.rtl .comment-form .comment-form-cookies-consent label {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .comment-form>p {
    text-align: right;
}

.rtl .wdt-custom-blog-image-aside-cnt .elementor-widget-container {
    padding-right: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    padding-left: 0;
}

.rtl .elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: -8px;
    right: auto;
}

.rtl .elementor-widget.elementor-align-left .elementor-inline-items {
    justify-content: flex-end;
}

/* --Shop-- */

.rtl .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    text-align: right;
}

.rtl .wdt-product-image-gallery-holder.wdt-product-vertical-thumb-left .wdt-product-image-gallery-thumb-container {
    margin: 0 0 0 10px;
}

.rtl.woocommerce .product form.cart .variations tr th.label {
    text-align: right;
}

.rtl.woocommerce .product form.cart .variations tr:first-child {
    margin-left: 20px;
    margin-right: 0;
}

.rtl .wdt-custom-shop-icon-list .elementor-icon-list-items li.elementor-icon-list-item span.elementor-icon-list-text {
    margin-right: 20px;
    margin-left: 0;
}

.rtl .wdt-custom-shop-icon-list .elementor-icon-list-items li.elementor-icon-list-item span.elementor-icon-list-text:before {
    right: 0;
    left: auto;
}

.rtl.woocommerce-page .shop_attributes tbody td {
    text-align: right;
}

.rtl.woocommerce #review_form #respond .comment-form-rating {
    text-align: right;
}

.rtl.woocommerce div.product .wdt-product-tabs .woocommerce-tabs .panel {
    text-align: right;
}

.rtl .tinv-wishlist .tinvwl-table-manage-list tfoot .tinvwl-to-right .button:not(:last-child) {
    margin-left: 20px;
    margin-right: 0;
}

.rtl.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 50px 0 0;
}

.rtl.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    float: right;
}

.rtl.woocommerce #reviews #comments ol.commentlist li .star-rating {
    float: left;
}

/* --Popup-- */

.rtl .wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close,
.rtl .wdt-popup-box-window .mfp-close {
    margin: 20px 0 0 20px;
}

.rtl .mfp-close {
    left: 0;
    right: auto;
}

.rtl .wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon-and-text input {
    padding-left: 8em;
    padding-right: 20px;
}

.rtl .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button i {
    margin: 0 10px 0 0 !important;
}

/* --Footer-- */

.rtl .wdt-custom-homeii-footer-contact-info-sec .elementor-container .elementor-row .elementor-column:not(:last-child):after {
    left: 140px;
    right: auto;
}

.rtl .wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input {
    padding-left: 3em;
    padding-right: 20px;
}

.rtl .wdt-custom-footer-mailchimp .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button span {
    margin: 0;
}

/* --mobile side nav-- */

.rtl .mobile-menu li[class*="has-children"]>a,
.rtl .mobile-menu li[class*="has_children"]>a {
    padding-left: 40px;
    padding-right: 16px;
}

.rtl .mobile-menu,
.rtl .mobile-menu ul,
.rtl .mobile-menu ul li {
    text-align: right;
}

.rtl .mobile-menu li[class*="has-children"]>a::before,
.rtl .mobile-menu li[class*="has_children"]>a::before {
    right: auto;
    left: 12px;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.rtl .mobile-menu li[class*="has-children"]>a:hover::before,
.rtl .mobile-menu li[class*="has_children"]>a:hover::before {
    left: 8px;
    right: auto;
}

.rtl .mobile-menu li[class*="has-children"]>a:hover::after,
.rtl .mobile-menu li[class*="has_children"]>a:hover::after {
    left: 12px;
    right: auto;
}

.rtl .mobile-menu li[class*="has-children"]>a::after,
.rtl .mobile-menu li[class*="has_children"]>a::after {
    left: 18px;
    right: auto;
}


/* ------------------- */
/* Icon Widget style */
/* =================== */
.elementor-widget.elementor-icon-list--layout-inline .elementor-widget-container {
    overflow: hidden;
}

.elementor-widget .elementor-icon-list-items.elementor-inline-items {
    margin-right: -8px;
    margin-left: -8px;
}

.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: 8px;
    margin-left: 8px;
}

.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    width: auto;
    left: auto;
    right: auto;
    position: relative;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-width: 1px;
    border-style: solid;
    right: -8px;
}

.elementor-widget .elementor-icon-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.elementor-widget .elementor-icon-list-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.elementor-widget .elementor-icon-list-item:after {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.elementor-widget .elementor-icon-list-item,
.elementor-widget .elementor-icon-list-item a {
    display: flex;
    font-size: inherit;
    align-items: var(--icon-vertical-align, center);
}

.elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text {
    align-self: center;
    padding-left: 5px;
}

.elementor-widget .elementor-icon-list-icon {
    display: flex;
    position: relative;
    top: var(--icon-vertical-offset, initial);
}

.elementor-widget .elementor-icon-list-icon svg {
    width: var(--e-icon-list-icon-size, 1em);
    height: var(--e-icon-list-icon-size, 1em);
}

.elementor-widget .elementor-icon-list-icon i {
    width: 1.25em;
    font-size: var(--e-icon-list-icon-size);
}

.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon {
    text-align: var(--e-icon-list-icon-align);
}

.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin: var(--e-icon-list-icon-margin, 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * .25));
}

.elementor-widget.elementor-list-item-link-full_width a {
    width: 100%;
}

.elementor-widget.elementor-align-center .elementor-icon-list-item,
.elementor-widget.elementor-align-center .elementor-icon-list-item a {
    justify-content: center;
}

.elementor-widget.elementor-align-center .elementor-icon-list-item:after {
    margin: auto;
}

.elementor-widget.elementor-align-center .elementor-inline-items {
    justify-content: center;
}

.elementor-widget.elementor-align-left .elementor-icon-list-item,
.elementor-widget.elementor-align-left .elementor-icon-list-item a {
    justify-content: flex-start;
    text-align: left;
}

.elementor-widget.elementor-align-left .elementor-inline-items {
    justify-content: flex-start;
}

.elementor-widget.elementor-align-right .elementor-icon-list-item,
.elementor-widget.elementor-align-right .elementor-icon-list-item a {
    justify-content: flex-end;
    text-align: right;
}

.elementor-widget.elementor-align-right .elementor-icon-list-items {
    justify-content: flex-end;
}

.elementor-widget:not(.elementor-align-right) .elementor-icon-list-item:after {
    left: 0;
}

.elementor-widget:not(.elementor-align-left) .elementor-icon-list-item:after {
    right: 0;
}

@media (min-width:0) {

    .elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item a {
        justify-content: center;
    }

    .elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item:after {
        margin: auto;
    }

    .elementor-widget.elementor-widescreen-align-center .elementor-inline-items {
        justify-content: center;
    }

    .elementor-widget.elementor-widescreen-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-widescreen-align-left .elementor-icon-list-item a {
        justify-content: flex-start;
        text-align: left;
    }

    .elementor-widget.elementor-widescreen-align-left .elementor-inline-items {
        justify-content: flex-start
    }

    .elementor-widget.elementor-widescreen-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-widescreen-align-right .elementor-icon-list-item a {
        justify-content: flex-end;
        text-align: right;
    }

    .elementor-widget.elementor-widescreen-align-right .elementor-icon-list-items {
        justify-content: flex-end;
    }

    .elementor-widget:not(.elementor-widescreen-align-right) .elementor-icon-list-item:after {
        left: 0;
    }

    .elementor-widget:not(.elementor-widescreen-align-left) .elementor-icon-list-item:after {
        right: 0;
    }
}

@media (max-width:1540px) {

    .elementor-widget.elementor-laptop-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-laptop-align-center .elementor-icon-list-item a {
        justify-content: center;
    }

    .elementor-widget.elementor-laptop-align-center .elementor-icon-list-item:after {
        margin: auto;
    }

    .elementor-widget.elementor-laptop-align-center .elementor-inline-items {
        justify-content: center;
    }

    .elementor-widget.elementor-laptop-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-laptop-align-left .elementor-icon-list-item a {
        justify-content: flex-start;
        text-align: left;
    }

    .elementor-widget.elementor-laptop-align-left .elementor-inline-items {
        justify-content: flex-start;
    }

    .elementor-widget.elementor-laptop-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-laptop-align-right .elementor-icon-list-item a {
        justify-content: flex-end;
        text-align: right;
    }

    .elementor-widget.elementor-laptop-align-right .elementor-icon-list-items {
        justify-content: flex-end;
    }

    .elementor-widget:not(.elementor-laptop-align-right) .elementor-icon-list-item:after {
        left: 0;
    }

    .elementor-widget:not(.elementor-laptop-align-left) .elementor-icon-list-item:after {
        right: 0;
    }
}

@media (max-width:1280px) {

    .elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item a {
        justify-content: center;
    }

    .elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item:after {
        margin: auto;
    }

    .elementor-widget.elementor-tablet_extra-align-center .elementor-inline-items {
        justify-content: center;
    }

    .elementor-widget.elementor-tablet_extra-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-tablet_extra-align-left .elementor-icon-list-item a {
        justify-content: flex-start;
        text-align: left;
    }

    .elementor-widget.elementor-tablet_extra-align-left .elementor-inline-items {
        justify-content: flex-start;
    }

    .elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-item a {
        justify-content: flex-end;
        text-align: right;
    }

    .elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-items {
        justify-content: flex-end;
    }

    .elementor-widget:not(.elementor-tablet_extra-align-right) .elementor-icon-list-item:after {
        left: 0;
    }

    .elementor-widget:not(.elementor-tablet_extra-align-left) .elementor-icon-list-item:after {
        right: 0;
    }
}

@media (max-width:1024px) {

    .elementor-widget.elementor-tablet-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-tablet-align-center .elementor-icon-list-item a {
        justify-content: center;
    }

    .elementor-widget.elementor-tablet-align-center .elementor-icon-list-item:after {
        margin: auto;
    }

    .elementor-widget.elementor-tablet-align-center .elementor-inline-items {
        justify-content: center;
    }

    .elementor-widget.elementor-tablet-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-tablet-align-left .elementor-icon-list-item a {
        justify-content: flex-start;
        text-align: left;
    }

    .elementor-widget.elementor-tablet-align-left .elementor-inline-items {
        justify-content: flex-start;
    }

    .elementor-widget.elementor-tablet-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-tablet-align-right .elementor-icon-list-item a {
        justify-content: flex-end;
        text-align: right;
    }

    .elementor-widget.elementor-tablet-align-right .elementor-icon-list-items {
        justify-content: flex-end;
    }

    .elementor-widget:not(.elementor-tablet-align-right) .elementor-icon-list-item:after {
        left: 0;
    }

    .elementor-widget:not(.elementor-tablet-align-left) .elementor-icon-list-item:after {
        right: 0;
    }
}

@media (max-width:767px) {

    .elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item a {
        justify-content: center;
    }

    .elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item:after {
        margin: auto;
    }

    .elementor-widget.elementor-mobile_extra-align-center .elementor-inline-items {
        justify-content: center;
    }

    .elementor-widget.elementor-mobile_extra-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-mobile_extra-align-left .elementor-icon-list-item a {
        justify-content: flex-start;
        text-align: left;
    }

    .elementor-widget.elementor-mobile_extra-align-left .elementor-inline-items {
        justify-content: flex-start;
    }

    .elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-item a {
        justify-content: flex-end;
        text-align: right;
    }

    .elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-items {
        justify-content: flex-end;
    }

    .elementor-widget:not(.elementor-mobile_extra-align-right) .elementor-icon-list-item:after {
        left: 0;
    }

    .elementor-widget:not(.elementor-mobile_extra-align-left) .elementor-icon-list-item:after {
        right: 0;
    }
}

@media (max-width:479px) {

    .elementor-widget.elementor-mobile-align-center .elementor-icon-list-item,
    .elementor-widget.elementor-mobile-align-center .elementor-icon-list-item a {
        justify-content: center;
    }

    .elementor-widget.elementor-mobile-align-center .elementor-icon-list-item:after {
        margin: auto;
    }

    .elementor-widget.elementor-mobile-align-center .elementor-inline-items {
        justify-content: center;
    }

    .elementor-widget.elementor-mobile-align-left .elementor-icon-list-item,
    .elementor-widget.elementor-mobile-align-left .elementor-icon-list-item a {
        justify-content: flex-start;
        text-align: left;
    }

    .elementor-widget.elementor-mobile-align-left .elementor-inline-items {
        justify-content: flex-start;
    }

    .elementor-widget.elementor-mobile-align-right .elementor-icon-list-item,
    .elementor-widget.elementor-mobile-align-right .elementor-icon-list-item a {
        justify-content: flex-end;
        text-align: right;
    }

    .elementor-widget.elementor-mobile-align-right .elementor-icon-list-items {
        justify-content: flex-end;
    }

    .elementor-widget:not(.elementor-mobile-align-right) .elementor-icon-list-item:after {
        left: 0;
    }

    .elementor-widget:not(.elementor-mobile-align-left) .elementor-icon-list-item:after {
        right: 0;
    }
}

/* ------------------- */
/* Icon Widget style End*/
/* =================== */